# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files
media/

# Static files (если собираешь collectstatic)
staticfiles/

# Migrations (иногда оставляют, но можно игнорировать)
*/migrations/*
!*/migrations/__init__.py

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Node (если есть frontend)
node_modules/