{% extends 'base.html' %}

{% block content %}

<main>
    <div class="invite-card">

        <div class="invite-title">Код приглашения</div>
        {% for message in messages %}
        <div class="invite-message">
            {{ message }}
        </div>
        {% endfor %}
        <form action="" method="POST">

        <div class="invite-code">
                {% csrf_token %}
                <div style="margin: auto;">{{ form.code }}</div>
        </div>

        <div class="invite-buttons">
                <button type="submit" class="btn btn-outline invite-btn-right">
                    Войти
                </button>

        </div>
        </form>
    </div>
</main>

{% endblock %}
