<!-- СЕМЬЯ -->
<div class="family-section">
    <div class="family-title">Члены семьи</div>
    {% for member, value in members.items %}
    <div class="family-card" style="background-color: {{ user.color }}99">

        <div class="family-content">
            <div class="family-top">
                <div class="family-name">{{ user.name }}</div>
                <div class="family-role">{{ user.family.first.get_status_display }}</div>
            </div>
            <div class="family-bottom-row">
                <div class="family-inline-stats">
                    <span>Потрачено: <b>{{ value.user_sum }} ₽</b></span>
                    <span>•</span>
                    <span>В этом месяце: <b>{{ value.user_month_sum }} ₽</b></span>
                    <span>•</span>
                    <span>Категорий: <b>{{ value.user_month_cats }}</b></span>
                </div>
                {% if roots and not forloop.frist%}
                    <a href="#" class="family-remove-link" onclick="openModal({{ member.user.pk }})">✕</a>
                {% endif %}
            </div>

        </div>
    </div>
    {% endfor %}

</div>