{% extends 'base.html' %}

{% block content %}

<main>
    <section id="profilePage">

        <div class="layout">

            <!-- ЛЕВАЯ КОЛОНКА -->
            <div class="main-column">

                <!-- ПРОФИЛЬ -->
                <div class="profile-card">

                    <div class="profile-color-cloud" style="--cat-color: #4ade80;">
                        <div class="profile-name">{{ user.name|title }}</div>
                        <div class="profile-role">{{ user.family.first.get_status_display }}</div>
                    </div>

                    <div class="profile-stats">
                        <div class="stat-item">
                            <div class="stat-label">Всего потратил</div>
                            <div class="stat-value">0 ₽</div>
                        </div>

                        <div class="stat-item">
                            <div class="stat-label">В этом месяце</div>
                            <div class="stat-value">0 ₽</div>
                        </div>

                        <div class="stat-item">
                            <div class="stat-label">Категорий</div>
                            <div class="stat-value">0</div>
                        </div>
                    </div>
                </div>

                {% if family_members %}
                    {% include 'family/family_list.html' %}
                {% else %}
                    НЕТО СЕМЬИ
                {% endif %}


            </div>

            <!-- ПРАВАЯ КОЛОНКА — ДАШБОРД -->
            <aside class="dashboard">
                <div class="dashboard-title">Дашборд пользователя</div>

                <div class="chart-block">
                    <div class="chart-label">Распределение по категориям</div>
                    <canvas id="userCategoryChart" height="180"></canvas>
                </div>

                <div class="chart-block">
                    <div class="chart-label">Траты по месяцам</div>
                    <canvas id="userMonthlyChart" height="200"></canvas>
                </div>
            </aside>

        </div>

    </section>
</main>


{% endblock %}