{% extends 'base.html' %}

{% block content %}

<main>
    <div class="invite-card">

        <div class="invite-title">Код приглашения</div>

        <div class="invite-code">
            {{ invite.code }}
        </div>

        <div class="invite-buttons">
            <a href="https://t.me/share/url?url={{ invite.code }}" class="btn invite-btn-left">
                Отправить другу
            </a>

            <a href="{% url 'family:delete_invite' %}" class="btn invite-btn-left">Удалить приглашение</a>
        </div>

    </div>
</main>

{% endblock %}
