{% extends 'base.html' %}

{% block content %}

<main>
    <div class="invite-card">

        <div class="invite-title">Код приглашения</div>
        <div class="invite-code">
            {{ invite.code }}
            <button class="copy-btn" onclick="copyInviteCode('{{ invite.code }}')">
                <?xml version="1.0" encoding="utf-8"?>
                <svg width="40px" height="40px" viewBox="0 -0.5 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M17.676 14.248C17.676 15.8651 16.3651 17.176 14.748 17.176H7.428C5.81091 17.176 4.5 15.8651 4.5 14.248V6.928C4.5 5.31091 5.81091 4 7.428 4H14.748C16.3651 4 17.676 5.31091 17.676 6.928V14.248Z"
                          stroke="#2563eb" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M10.252 20H17.572C19.1891 20 20.5 18.689 20.5 17.072V9.75195" stroke="#2563eb"
                          stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>

        <div class="invite-buttons">
            <button class="btn invite-btn-left" onclick="copyInviteLink('https://dashosavo.ru/login_by_invite/{{ invite.code }}')">Отправить другу</button>


            <a href="{% url 'family:delete_invite' %}" class="btn invite-btn-left">Удалить приглашение</a>
        </div>

    </div>
    <script>
        function copyInviteCode(code) {
            navigator.clipboard.writeText(code).then(() => {
                const toast = document.createElement("div");
                toast.className = "toast-modal toast-success";
                toast.innerHTML = "<span class='toast-icon'>✔</span> Код скопирован";

                document.body.appendChild(toast);

                setTimeout(() => {
                    toast.style.opacity = "0";
                    toast.style.transform = "translate(-50%, -10px)";
                }, 2500);

                setTimeout(() => toast.remove(), 3200);
            });
        }
        function copyInviteLink(url) {
            navigator.clipboard.writeText(url).then(() => {
                const toast = document.createElement("div");
                toast.className = "toast-modal toast-success";
                toast.innerHTML = "<span class='toast-icon'>✔</span> Ссылка скопирована";

                document.body.appendChild(toast);

                setTimeout(() => {
                    toast.style.opacity = "0";
                    toast.style.transform = "translate(-50%, -10px)";
                }, 2500);

                setTimeout(() => toast.remove(), 3200);
            });
        }
    </script>
</main>

{% endblock %}
