<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Finance Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<header class="navbar">

    <a href="{% url 'base:table' url_year url_month %}" class="navbar-title">
        Finance Tracker
    </a>

    <div class="navbar-center">
        {% if user.get_family_object %}
        <a href="{% url 'family:profile_family' %}" class="navbar-link">
            Семья: {{ user.get_family_object.name }}
        </a>
        {% else %}
        <a href="{% url 'family:create_family' %}" class="navbar-link">Создать семью</a>
        <a href="{% url 'family:enter_invite' %}" class="navbar-link">Войти по коду</a>
        {% endif %}
    </div>

    <div class="navbar-right">
        {% if user.is_authenticated %}
        <a href="{% url 'users:profile' %}" class="btn btn-outline" style="background: {{ user.color }}; color: {{ user_text_color }};">
            {{ user.name }}
        </a>
        {% else %}
        <a href="{% url 'users:login' %}" class="btn btn-outline">Войти</a>
        {% endif %}

        <a href="{% url 'base:add_category' %}" class="btn btn-outline">
            Добавить категорию
        </a>

    </div>

</header>

{% block content %}

{% endblock %}
<footer class="footer">
    <div class="footer-content">
        <span class="footer-text">© 2026 Finance Tracker</span>

        <div class="footer-links">
            <a href="https://t.me/your_channel" target="_blank" class="footer-link">
                Telegram‑канал
            </a>

            <a href="#" class="footer-link">
                Сообщить о баге
            </a>
        </div>
    </div>
</footer>

</body>
</html>