<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Finance Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<header class="navbar">
    <a href="{% url 'base:home' %}" class="navbar-title">Finance Tracker</a>

    <div class="navbar-center">
        <a href="{% url 'users:logout' %}" class="navbar-link">Пользователь: {{ user.name }}</a>
        {% if user.family_object %}
        <a href="{% url 'family:profile_family' %}" class="navbar-link">Семья: {{ user.family_object.name }}</a>
        {% else %}
        <a href="{% url 'family:create_family' %}" class="navbar-link">Создать семью</a>

        {% endif %}
    </div>

    <a href="{% url 'base:add_category' %}" class="btn btn-outline">Добавить категорию</a>
</header>

{% block content %}

{% endblock %}

</body>
</html>