<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Finance Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<header class="navbar">
    <a href="{% url 'base:home' %}"><div class="navbar-title">Finance Tracker</div></a>
    <a href="{% url 'users:logout' %}">Пользователь: {{ user.name }}</a>

    <a href="{% url 'family:profile_family' %}">
        Семья:{% if user.family_object %} {{ user.family_object.name }} {% else %} Нет {% endif %}
    </a>

    <a href="{% url 'base:add_category' %}" class="btn btn-outline">Добавить категорию</a>
</header>

{% block content %}

{% endblock %}

</body>
</html>