{% extends 'forms.html' %}

{% block form_title %} Новая категория {% endblock %}

{% block submit_button %} Сохранить {% endblock %}

{% block form_footer %}
<div class="category-pills">
    {% for cat in categories %}
    <div class="category-pill" style="background: {{ cat.color }}99;">
        <span style="color: {{ cat.color }}; filter: brightness(0.5);">
            {% if cat.parent %}
            {{ cat.name }}
            <b>
                {% else %}
                <b>
                    {{ cat.name }}
                    {% endif %}
                    <a href="{% url 'base:delete_category' cat.pk %}">х</a>
                </b>
        </span>
    </div>
    {% endfor %}
</div>
{% endblock %}